@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace, sans-serif;
}

/* background image */

body {
    background-image: url("./images/background-cement-concrete-paint-242236.jpg");
}

/* Navbar */

nav > span.navname {
    background-color: rgba(55, 55, 252, 0.75);
    color:rgb(236, 214, 214);
}

nav ul li.nav-item {
    color:rgb(55, 55, 252, 0.75);
}

nav.navbar {
    border-bottom: 2px solid rgba(55, 55, 252, 0.75);
}

/* Portfolio Styles */

div.portfolioImage {
    background-image: url(https://via.placeholder.com/250);
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    
}

p.text-over-image {
    align-self: flex-end;
    text-align: center;
}

/* footer */

footer.footer {
    text-align: center;
    background-color: rgb(95, 93, 92);
    color: rgb(245, 241, 245);
    border-top: 2px solid rgba(55, 55, 252, 0.75);
}